<%= javascript_include_tag "gmap_custom", "data-turbolinks-track" => true %>

<%= render "shared/map_header" %>
<%= render "shared/filter_on_map" %>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map-canvas">
</div>
</form>
<%= render "shared/current_location" %>


<div class="row">
<p>result[i].title</p>
</div>

<div class="row">
<p>result[i].description</p>
</div>

<div class="row">
<p>result[i].price</p>
</div>