<%= javascript_include_tag "gmap_custom", "data-turbolinks-track" => true %>

<%= render "shared/map_header" %>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<button class="float-btn btn btn-success btn-fab btn-sm btn-raised" data-toggle="tooltip"
              title="Create region to search inside" style="position: fixed;">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
<div id="map-canvas">
</div>
</form>
<%= render "shared/current_location" %>