<form class="form-horizontal filter-on-map-form shadow-z-2">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label">Price</label>

      <div class="col-md-10">
        <div class="col-md-12">
          <input class="form-control" placeholder="Min price">
        </div>
        <div class="col-md-12">
          <input class="form-control" placeholder="Max price">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Area</label>
      <div class="col-md-10">
        <div class="col-md-12">
          <input class="form-control" placeholder="Min area">
        </div>
        <div class="col-md-12">
          <input class="form-control" placeholder="Max area">
        </div>
      </div>
    </div>
    <div class="form-group draw-type-form">
      <div class="col-md-12 select-type-label">Select area by</div>
      <div class="col-md-10 col-md-offset-2">
        <div class="col-md-6">
          <button class="btn btn-success btn-sm circle-draw-btn">
            <i class="fa fa-circle-o"></i>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success btn-sm square-draw-btn">
            <i class="fa fa-square-o"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 select-type-label">Clear all result on map</div>
      <div class="col-md-10 col-md-offset-2">
        <button class="btn btn-success btn-sm clear-filter-btn"> Clear result</button>
      </div>
    </div>
  </fieldset>
</form>