<!DOCTYPE html>
<html>
  <head>
    <title><%= t "app_name" %></title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing,places"
      async defer></script>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body onLoad="initialize()">
    <%= yield %>
  </body>
</html>
